@{
    ViewBag.Title = "Contact";
}
<main aria-labelledby="title">
    <h3>@ViewBag.Message</h3>
    <h6>Full Stack Developer</h6>
    <address>
        <strong>Linkedin: </strong><a href="https://www.linkedin.com/in/fabriciokuasniski/" target="_blank">Fabricio Kuasniski</a><br />
        <strong>Repositorio del proyecto: </strong><a href="https://github.com/kuasniski/testCrudExcelenciaDigital" target="_blank">GitHub</a><br />
    </address>
</main>